In [1]:
from sensor.exception import SensorException
import sys

In [2]:
a = 5
b = a/0

ZeroDivisionError: division by zero

In [3]:
try:
    a= 5
    b = a/0
except Exception as e:
    raise SensorException(e, sys)

SensorException: Error occurred python script name [C:\Users\Dhruv Saxena\AppData\Local\Temp\ipykernel_35576\1887174479.py] line number [3] error message [division by zero]

In [1]:
from sensor.utils.main_utils import read_yaml_file
file_path = "config\schema.yaml"

In [2]:
schema_config = read_yaml_file(file_path)
schema_config

{'columns': [{'class': 'category'},
  {'aa_000': 'int'},
  {'ac_000': 'int'},
  {'ad_000': 'int'},
  {'ae_000': 'int'},
  {'af_000': 'int'},
  {'ag_000': 'int'},
  {'ag_001': 'int'},
  {'ag_002': 'int'},
  {'ag_003': 'int'},
  {'ag_004': 'int'},
  {'ag_005': 'int'},
  {'ag_006': 'int'},
  {'ag_007': 'int'},
  {'ag_008': 'int'},
  {'ag_009': 'int'},
  {'ah_000': 'int'},
  {'ai_000': 'int'},
  {'aj_000': 'int'},
  {'ak_000': 'int'},
  {'al_000': 'int'},
  {'am_0': 'int'},
  {'an_000': 'int'},
  {'ao_000': 'int'},
  {'ap_000': 'int'},
  {'aq_000': 'int'},
  {'ar_000': 'int'},
  {'as_000': 'int'},
  {'at_000': 'int'},
  {'au_000': 'int'},
  {'av_000': 'int'},
  {'ax_000': 'int'},
  {'ay_000': 'int'},
  {'ay_001': 'int'},
  {'ay_002': 'int'},
  {'ay_003': 'int'},
  {'ay_004': 'int'},
  {'ay_005': 'int'},
  {'ay_006': 'int'},
  {'ay_007': 'int'},
  {'ay_008': 'int'},
  {'ay_009': 'int'},
  {'az_000': 'int'},
  {'az_001': 'int'},
  {'az_002': 'int'},
  {'az_003': 'int'},
  {'az_004': 'int'},
  {'az_005': 'int'},
  {'az_006': 'int'},
  {'az_007': 'int'},
  {'az_008': 'int'},
  {'az_009': 'int'},
  {'ba_000': 'int'},
  {'ba_001': 'int'},
  {'ba_002': 'int'},
  {'ba_003': 'int'},
  {'ba_004': 'int'},
  {'ba_005': 'int'},
  {'ba_006': 'int'},
  {'ba_007': 'int'},
  {'ba_008': 'int'},
  {'ba_009': 'int'},
  {'bb_000': 'int'},
  {'bc_000': 'int'},
  {'bd_000': 'int'},
  {'be_000': 'int'},
  {'bf_000': 'int'},
  {'bg_000': 'int'},
  {'bh_000': 'int'},
  {'bi_000': 'int'},
  {'bj_000': 'int'},
  {'bk_000': 'int'},
  {'bl_000': 'int'},
  {'bm_000': 'int'},
  {'bs_000': 'int'},
  {'bt_000': 'int'},
  {'bu_000': 'int'},
  {'bv_000': 'int'},
  {'bx_000': 'int'},
  {'by_000': 'int'},
  {'bz_000': 'int'},
  {'ca_000': 'int'},
  {'cb_000': 'int'},
  {'cc_000': 'int'},
  {'cd_000': 'int'},
  {'ce_000': 'int'},
  {'cf_000': 'int'},
  {'cg_000': 'int'},
  {'ch_000': 'int'},
  {'ci_000': 'int'},
  {'cj_000': 'int'},
  {'ck_000': 'int'},
  {'cl_000': 'int'},
  {'cm_000': 'int'},
  {'cn_000': 'int'},
  {'cn_001': 'int'},
  {'cn_002': 'int'},
  {'cn_003': 'int'},
  {'cn_004': 'int'},
  {'cn_005': 'int'},
  {'cn_006': 'int'},
  {'cn_007': 'int'},
  {'cn_008': 'int'},
  {'cn_009': 'int'},
  {'co_000': 'int'},
  {'cp_000': 'int'},
  {'cq_000': 'int'},
  {'cs_000': 'int'},
  {'cs_001': 'int'},
  {'cs_002': 'int'},
  {'cs_003': 'int'},
  {'cs_004': 'int'},
  {'cs_005': 'int'},
  {'cs_006': 'int'},
  {'cs_007': 'int'},
  {'cs_008': 'int'},
  {'cs_009': 'int'},
  {'ct_000': 'int'},
  {'cu_000': 'int'},
  {'cv_000': 'int'},
  {'cx_000': 'int'},
  {'cy_000': 'int'},
  {'cz_000': 'int'},
  {'da_000': 'int'},
  {'db_000': 'int'},
  {'dc_000': 'int'},
  {'dd_000': 'int'},
  {'de_000': 'int'},
  {'df_000': 'int'},
  {'dg_000': 'int'},
  {'dh_000': 'int'},
  {'di_000': 'int'},
  {'dj_000': 'int'},
  {'dk_000': 'int'},
  {'dl_000': 'int'},
  {'dm_000': 'int'},
  {'dn_000': 'int'},
  {'do_000': 'int'},
  {'dp_000': 'int'},
  {'dq_000': 'int'},
  {'dr_000': 'int'},
  {'ds_000': 'int'},
  {'dt_000': 'int'},
  {'du_000': 'int'},
  {'dv_000': 'int'},
  {'dx_000': 'int'},
  {'dy_000': 'int'},
  {'dz_000': 'int'},
  {'ea_000': 'int'},
  {'eb_000': 'int'},
  {'ec_00': 'int'},
  {'ed_000': 'int'},
  {'ee_000': 'int'},
  {'ee_001': 'int'},
  {'ee_002': 'int'},
  {'ee_003': 'int'},
  {'ee_004': 'int'},
  {'ee_005': 'int'},
  {'ee_006': 'int'},
  {'ee_007': 'int'},
  {'ee_008': 'int'},
  {'ee_009': 'int'},
  {'ef_000': 'int'},
  {'eg_000': 'int'}],
 'numerical_columns': ['aa_000',
  'ac_000',
  'ad_000',
  'ae_000',
  'af_000',
  'ag_000',
  'ag_001',
  'ag_002',
  'ag_003',
  'ag_004',
  'ag_005',
  'ag_006',
  'ag_007',
  'ag_008',
  'ag_009',
  'ah_000',
  'ai_000',
  'aj_000',
  'ak_000',
  'al_000',
  'am_0',
  'an_000',
  'ao_000',
  'ap_000',
  'aq_000',
  'ar_000',
  'as_000',
  'at_000',
  'au_000',
  'av_000',
  'ax_000',
  'ay_000',
  'ay_001',
  'ay_002',
  'ay_003',
  'ay_004',
  'ay_005',
  'ay_006',
  'ay_007',
  'ay_008',
  'ay_009',
  'az_000',
  'az_001',
  'az_002',
  'az_003',
  'az_004',
  'az_005',
  'az_006',
  'az_007',
  'az_008',
  'az_009',
  'ba_000',
  'ba_001',
  'ba_002',
  'ba_003',
  'ba_004',
  'ba_005',
  'ba_006',
  'ba_007',
  'ba_008',
  'ba_009',
  'bb_000',
  'bc_000',
  'bd_000',
  'be_000',
  'bf_000',
  'bg_000',
  'bh_000',
  'bi_000',
  'bj_000',
  'bk_000',
  'bl_000',
  'bm_000',
  'bs_000',
  'bt_000',
  'bu_000',
  'bv_000',
  'bx_000',
  'by_000',
  'bz_000',
  'ca_000',
  'cb_000',
  'cc_000',
  'cd_000',
  'ce_000',
  'cf_000',
  'cg_000',
  'ch_000',
  'ci_000',
  'cj_000',
  'ck_000',
  'cl_000',
  'cm_000',
  'cn_000',
  'cn_001',
  'cn_002',
  'cn_003',
  'cn_004',
  'cn_005',
  'cn_006',
  'cn_007',
  'cn_008',
  'cn_009',
  'co_000',
  'cp_000',
  'cq_000',
  'cs_000',
  'cs_001',
  'cs_002',
  'cs_003',
  'cs_004',
  'cs_005',
  'cs_006',
  'cs_007',
  'cs_008',
  'cs_009',
  'ct_000',
  'cu_000',
  'cv_000',
  'cx_000',
  'cy_000',
  'cz_000',
  'da_000',
  'db_000',
  'dc_000',
  'dd_000',
  'de_000',
  'df_000',
  'dg_000',
  'dh_000',
  'di_000',
  'dj_000',
  'dk_000',
  'dl_000',
  'dm_000',
  'dn_000',
  'do_000',
  'dp_000',
  'dq_000',
  'dr_000',
  'ds_000',
  'dt_000',
  'du_000',
  'dv_000',
  'dx_000',
  'dy_000',
  'dz_000',
  'ea_000',
  'eb_000',
  'ec_00',
  'ed_000',
  'ee_000',
  'ee_001',
  'ee_002',
  'ee_003',
  'ee_004',
  'ee_005',
  'ee_006',
  'ee_007',
  'ee_008',
  'ee_009',
  'ef_000',
  'eg_000'],
 'drop_columns': ['br_000',
  'bq_000',
  'bp_000',
  'ab_000',
  'cr_000',
  'bo_000',
  'bn_000']}

In [4]:
len(schema_config["columns"])

164

In [5]:
import pandas as pd

In [12]:
df = pd.read_csv("data\sensor.csv", nrows=5)
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,72504,NaN,1594,1052.0,0,0,0,244,178226,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
1,pos,199350,0.0,468,58.0,0,0,0,0,0,...,282224,95380,237386,479518,899682,615538,7440,180,0,0
2,pos,892422,2.0,1342,1100.0,0,0,0,2716,656148,...,3500996,1980134,5102372,7882256,14095922,6605678,206190,774,0,0
3,pos,967376,NaN,8660,8660.0,0,0,0,0,0,...,11377600,5432058,11165988,8940384,4927202,1868356,855366,42,0,0
4,pos,590444,NaN,0,NaN,0,0,0,0,0,...,5177836,2567578,5234638,4877190,3544400,1805986,2901856,138534,0,0

In [9]:
len(df.columns)

171

In [10]:
# Sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [1.5, 2.5, 3.5, 4.5],
    'C': ['apple', 'banana', 'cherry', 'date'],
    'D': [True, False, True, False]
}

In [15]:
df = pd.DataFrame(data)
df.head()

   A    B       C      D
0  1  1.5   apple   True
1  2  2.5  banana  False
2  3  3.5  cherry   True
3  4  4.5    date  False

In [16]:
numerical_columns_names = df.select_dtypes(include= "number").columns
print(numerical_columns_names)

Index(['A', 'B'], dtype='object')

In [17]:
categorical_columns_names = df.select_dtypes(exclude= "number").columns
print(categorical_columns_names)

Index(['C', 'D'], dtype='object')

## Decorators

- @staticmethod
- @dataclass
- @classmethod

In [ ]:
## @staticmethod:  A static method is used when the method logic does not require access to the class `(cls)` 
# or instance `(self)`. It is often used for utility functions

In [1]:
class Mathoperations:
    
    @staticmethod
    def add_numbers(a, b):
        return a + b
    
    @staticmethod
    def multiply_number(a, b):
        return a * b

In [2]:
print(Mathoperations.add_numbers(5, 3))

8

In [3]:
print(Mathoperations.multiply_number(5, 3))

15

In [ ]:
## @dataclass: A @dataclass is used for classes that are primarily used to store data, making 
# the class definition more concise by automatically generating methods like `__init__`, `__repr__`, and `__eq__`

In [4]:
from dataclasses import dataclass

In [5]:
@dataclass

class Car:
    make: str
    model: str
    year: int
    mileage: float= 0.0

In [6]:
car1 = Car(make="Toyota", model="Corolla", year=2020)
print(car1)

Car(make='Toyota', model='Corolla', year=2020, mileage=0.0)

In [7]:
car1.make

'Toyota'

In [8]:
car1.mileage

0.0

In [9]:
## @classmethod:  A class method is used when you need to access or modify class-level data. It is defined using `@classmethod` and takes `cls` as its first parameter.

In [11]:
class Circle:
    pi = 3.14
    
    def __init__(self, radius):
        self.radius = radius
    
    @classmethod
    def from_diameter(cls, diameter):
        radius = diameter / 2
        return cls(radius)
    
    @classmethod
    
    def change_pi(cls, new_value):
        cls.pi = new_value

In [12]:
circle1 = Circle.from_diameter(10)
print(circle1.radius)

5.0

In [13]:
Circle.change_pi(3)
print(Circle.pi)

3

In [15]:
class TargetValueMapping:
    """
    A class to manage target value mappings for binary classification.
    """
    def __init__(self):
        """
        Initializes the mapping for negative and positive target values.
        """
        self.neg: int = 0
        self.pos: int = 1

    def to_dict(self) -> dict:
        """
        Converts the target value mappings to a dictionary.

        Returns:
            dict: A dictionary representation of the mappings.
        """
        return self.__dict__
    def reverse_mapping(self) -> dict:
        """
        Creates a reverse mapping of the target values.

        Returns:
            dict: A dictionary with the keys and values swapped.
        """
        mapping_response = self.to_dict()
        return dict(zip(mapping_response.values(), mapping_response.keys()))

In [16]:
mapping = TargetValueMapping()

In [17]:
print(mapping.to_dict())

{'neg': 0, 'pos': 1}

In [18]:
print(mapping.reverse_mapping())

{0: 'neg', 1: 'pos'}